@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1/5;
    padding: 0;
    margin: 0;
    background-color: #abf5ab;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
#home{
    background-image: url("background.png");
    height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-radius: #e8491d 3px solid;
    width: 100%;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
}
header ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.navbar{
    text-align: center;
}
header li{
    float: left;
    display: inline;
    padding: 0 40px 0 40px;
    
}
.container h1{
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
.pa{
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
    font-size:25px ;
    text-align: center;
}
#showcase{
    margin-top: 70px;
    text-align: center;
}
#aboutme{
    margin-top: 20px;
    height: 300px;
    color: #ffffff;
    background-color:#5cdb95;
    font-family: 'Inconsolata', monospace;
    
}
.container h1 span{
    color:#5cdb95;
    font-size: 100px;
}

#aboutme {
    height: auto;
    max-width: 100%;
}
.card{
    position: relative;
    max-width: 100%;
    margin: 10px;
    padding: 15px;
    display: flex;
}

.card .img img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.content{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    padding-top: 20px;
    color: black;
    text-align: center;
    
}


.content h2{
    font-size: 25px;
    color: black;
    text-align: center;
    padding-bottom: 5px;
    
}
.content h3{
    border-bottom: 2px solid rgb(94, 93, 93);
    margin-right: 42%;
    opacity: 60%;
    
    margin-left: 42%;
}

.content p{
    margin-top: 5px;
}

.glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    margin-top: 40px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5cdb95;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

#container3 {
	max-width:400px;
	width:100%;
	margin:0 auto;
    position:relative;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
    margin:50px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact h3 {
	color: black;
	display: block;
	font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    font-weight: bolder;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }


  @media only screen and (max-width: 601px) {
    .navbar{
        display: block;
        width: 40px;
        height: 40px;
        margin:10px;
        background: #ccc;
        float: right;
        cursor: pointer;
    }
    .navbar:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
        
    }
    .navbar.active:before{
        content: '\f00d';

        
    }
    .img {
        display: none;
    }
    .content{
        text-align: center;
        padding-top: 10px;
    }
    .content h2{

    }
    .content p{
        padding-top: 5px;
        font-size: 18px;
    }
  }
  @media only screen and (max-width: 800px){
    .img {
        display: none;
    }
  }

  @media only screen and (max-width: 558px) {
    .glow-on-hover{
        margin-top: 10px;
        font-size: 18px;
    }
    .pa{
        font-size: 18px;
    }
    .container h1{
        font-size: 40px;
    }
    .container h1 span{
        font-size: 80px;
    }
    #showcase{
        margin-top: 20px;
    }
  }
  ._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
    
}
ul.social-icons {
    margin-top: 50px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-whatsapp {
    padding:14px 18px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ff1361;
}
.fa-whatsapp:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-instagram {
    padding:14px 18px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ff1361;
}
.fa-instagram:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:14px 18px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ff1361;
}
.fa-github:hover {
    background-color: #5a32a3;
}
  
